nav.basicnav
	div(id="basic-navigation")
		p #[a(href="#top", class="gototop") Go to the top].
		p Website by #[a(href="https://outwith.work") Outwith]. Follow on #[a(href="https://outwith.biz/@alantrotter") Mastodon].