script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/balance-text/3.3.1/balancetext.min.js")
script(src="../js/extrascripts.js")