mixin title
	| Ae Fond Farewell: On Leaving Twitter · Alan Trotter

mixin author
	a(rel="author", href="https://alantrotter.com") Alan Trotter
	
mixin pubdate
	time(itemprop="datePublished", content="2023-01-23") 23 January 2023