//- meta(name="description",content="Outwith – website design, portrait & product photography in Edinburgh")
//- meta(property="og:title" content="Outwith")
//- meta(property="og:type" content="website")
//- meta(property="og:image" content="https://outwith.work/img/social-image.jpg")
//- meta(property="og:url" content="https://outwith.work")
//- meta(name="twitter:card" content="summary_large_image")

//- meta(property="og:description" content="Website design, portrait & product photography in Edinburgh.")
//- meta(property="og:site_name" content="Outwith")
//- meta(name="twitter:image:alt" content="A logo for Outwith featuring black type on a light background.")